<link href="${contextPath}/assets/bootstrap/css/bootstrap.min.css" media="all" rel="stylesheet" />
<link href="data:text/css;charset=utf-8," data-href="${contextPath}/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
<link href="${contextPath}/assets/css/disscuss.css" media="all" rel="stylesheet" />
<link href="${contextPath}/assets/ckeditor/samples/sample.css" media="all" rel="stylesheet" />
